
/* Student Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #854f4f;
}

tr:hover {
  background-color: #c0b9e7;
}

form {
  background-color: palevioletred;
}
body {
  background-color: #afeed7;
}